---
layout: default
title: Downloads
---

<div id="Binaries" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#Binaries">Binaries</a></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="22%">
            <div><a href="/Changelist/#vsix"><img src="/etc/badges/VSPackage.svg" alt="VSPackage" /></a></div>
          </td>
          <td>The main plugin for Visual Studio.</td>
          <td width="150px">
            {% assign lnkCur = site.lnkCur_VSPackage %}
            {% assign lnkList = site.lnkList_VSPackage %}
            {% assign lnkOld = site.lnkOld_VSPackage %}
            {% assign lnkAll = "" %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="https://www.nuget.org/packages/vsSolutionBuildEvent/" target="_blank"><img src="https://img.shields.io/nuget/v/vsSolutionBuildEvent.svg" alt="NuGet Package" /></a></div>
          </td>
          <td>The official package for work with CI /Build Servers.</td>
          <td>
            {% assign lnkCur = site.lnkCur_CIMNuGet %}
            {% assign lnkList = site.lnkList_CIMNuGet %}
            {% assign lnkOld = site.lnkOld_CIMNuGet %}
            {% assign lnkAll = site.lnkAll_CIMNuGet %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#api"><img src="/etc/badges/API.svg" alt="API" /></a></div>
          </td>
          <td>The bridge for work with our API.</td>
          <td>
            {% assign lnkCur = site.lnkCur_API %}
            {% assign lnkList = site.lnkList_API %}
            {% assign lnkOld = site.lnkOld_API %}
            {% assign lnkAll = "" %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#cim"><img src="/etc/badges/CI.MSBuild.svg" alt="CI.MSBuild" /></a></div>
          </td>
          <td>To support Microsoft Build Tools (MSBuild).</td>
          <td>
            {% assign lnkCur = site.lnkCur_CIMSBuild %}
            {% assign lnkList = site.lnkList_CIMSBuild %}
            {% assign lnkOld = site.lnkOld_CIMSBuild %}
            {% assign lnkAll = "" %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#devenv"><img src="/etc/badges/Devenv.svg" alt="Devenv" /></a></div>
          </td>
          <td>To support Microsoft Visual Studio Command-Line (devenv).</td>
          <td>
            {% assign lnkCur = site.lnkCur_Devenv %}
            {% assign lnkList = site.lnkList_Devenv %}
            {% assign lnkOld = site.lnkOld_Devenv %}
            {% assign lnkAll = "" %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#provider"><img src="/etc/badges/Provider.svg" alt="Provider" /></a></div>
          </td>
          <td>The loader and helper for quick work with main library.</td>
          <td>
            {% assign lnkCur = site.lnkCur_Provider %}
            {% assign lnkList = site.lnkList_Provider %}
            {% assign lnkOld = site.lnkOld_Provider %}
            {% assign lnkAll = "" %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="{{site.lnkCur_getCIM[2]}}">{{site.lnkCur_getCIM[0]}}</a></div>
          </td>
          <td>~9 Kb. Remote access to official package for work with CI in one click (Compiled by <a href="https://github.com/3F/GetNuTool" target="_blank">GetNuTool</a>).</td>
          <td>
            {% assign lnkCur = site.lnkCur_getCIM %}
            {% assign lnkList = site.lnkList_getCIM %}
            {% assign lnkOld = site.lnkOld_getCIM %}
            {% assign lnkAll = site.lnkAll_getCIM %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <!-- <tr>
          <td>
            GetNuTool 
            <a href="{{site.lnkToCompt_GetNuTool[1]}}" title="Current compatibility"><img src="/etc/badges/GetNuTool.svg" alt="" /></a>
            <a href="https://github.com/3F/GetNuTool/releases/latest" title="Latest release"><img src="https://img.shields.io/github/release/3F/GetNuTool.svg" alt="" /></a>
          </td>
          <td>Cross-Platform Embeddable Package Manager [gnt.core]. NuGet / Chocolatey Client and the lightweight portable tool for work with packages.</td>
          <td>
            {% assign lnkCur = site.lnkCur_GetNuTool %}
            {% assign lnkList = site.lnkList_GetNuTool %}
            {% assign lnkOld = site.lnkOld_GetNuTool %}
            {% assign lnkAll = site.lnkAll_GetNuTool %}
            {% include pat/vdownload.html %}
          </td>
        </tr> -->
        <tr>
          <td>
            <a href="{{site.lnkSrcClientDemo[1]}}" target="_blank">ClientDemo</a>
          </td>
          <td>Compiled ClientDemo project of the <b>client.vssbe.dll</b> features. For work with events from our core library. <a href="{{site.docp}}/API/#how-to">How to use.</a></td>
          <td>
            {% assign lnkCur = site.lnkCur_ClientDemo %}
            {% assign lnkList = site.lnkList_ClientDemo %}
            {% assign lnkOld = site.lnkOld_ClientDemo %}
            {% assign lnkAll = site.lnkAll_ClientDemo %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="panel panel-default small">
              <div class="panel-heading small">
                <h3 class="panel-title small">OLD RELEASES <a href="https://sourceforge.net/projects/vssbe/" rel="noreferrer" target="_blank"><img src="https://img.shields.io/sourceforge/dt/vssbe.svg" /></a></h3>
              </div>
              <div class="panel-body small">
                  We're using now <a href="https://github.com/3F/vsSolutionBuildEvent">GitHub</a>. But you can still access to old binaries that was released before <b>v0.12.11</b>.

                  <script src="{{ site.baseurl }}/js/sfstat.js"></script>
                  <div id="sfstat" style="font-size: 75%;"></div>

                <table class="table table-striped table-hover ">
                  <tbody>
                    <tr>
                      <td>Official</td>
                      <td>sourceforge.net</td>
                      <td>All binaries Before v0.12.11</td>
                      <td><a href="https://sourceforge.net/projects/vssbe/files/" target="_blank">sourceforge.net/projects/vssbe/files/</a></td>
                    </tr>
                    <tr>
                      <td>Unofficial Mirror</td>
                      <td>osdn.jp</td>
                      <td>Automatic collector from sf.net</td>
                      <td><a href="https://osdn.jp/projects/sfnet_vssbe/releases/" target="_blank">osdn.jp/projects/sfnet_vssbe/releases/</a></td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="Code" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#Code">Source Code</a></h3>
  </div>
  <div class="panel-body">
    <p>
      We are waiting for your awesome contributions! Start with <a href="{{site.docp}}/Dev/"><b>Developer Zone</b></a>
    </p>
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="80%">
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Clone with HTTPS:</label>
              <input class="form-control" id="inputSuccess" type="text" value="git clone https://github.com/3F/vsSolutionBuildEvent.git" />
            </div>
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Clone with SSH:</label>
              <input class="form-control" id="inputSuccess" type="text" value="git clone git@github.com:3F/vsSolutionBuildEvent.git" />
            </div>            
          </td>
          <td>
            <div class="panel panel-success small">
              <div class="panel-heading">
                <h3 class="panel-title">Fork me on GitHub</h3>
              </div>
              <div class="panel-body small">
                <div class="list-group">
                  <a href="https://github.com/3F/vsSolutionBuildEvent/" target="_blank" class="list-group-item">vsSolutionBuildEvent/</a>
                  <a href="https://github.com/3F/vsSolutionBuildEvent/fork" target="_blank" class="list-group-item">vsSolutionBuildEvent/fork</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="NightlyBuilds" class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#NightlyBuilds">Nightly builds</a></h3>
  </div>
  <div class="panel-body">
    
    <span class="label label-danger">Please note!</span>
    <p class="small"> All binaries below can be unstable or not work at all. Use this for tests of latest changes: fixes, new features, etc.</p>
    
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="10%"><a href="https://github.com/3F/vsSolutionBuildEvent/releases" target="_blank" class="btn btn-default">Test</a></td>
          <td width="90%">CI Builds via GitHub Pre-Releases</td>
        </tr>
        <tr>
            <td><a href="https://ci.appveyor.com/project/3Fs/vssolutionbuildevent/history" target="_blank" class="btn btn-default">Test</a></td>
            <td width="90%">AppVeyor</td>
          </tr>
      </tbody>
    </table> 
  </div>
</div>



