---
layout: default
title: Downloads
---

<div id="Binaries" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#Binaries">Binaries</a></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="22%">
            <div><a href="/Changelist/#vsix"><img src="/etc/badges/VSPackage.svg" alt="VSPackage" /></a></div>
          </td>
          <td>The main plugin. Contains logic for work with events of Visual Studio and core of different actions for anything.</td>
          <td width="150px">
            {% assign lnkCur = site.lnkCur_VSPackage %}
            {% assign lnkList = site.lnkList_VSPackage %}
            {% assign lnkOld = site.lnkOld_VSPackage %}
            {% assign lnkAll = [] %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#cim"><img src="/etc/badges/CI.MSBuild.svg" alt="CI.MSBuild" /></a></div>
          </td>
          <td>Support of the Microsoft Build Tools (MSBuild).</td>
          <td>
            {% assign lnkCur = site.lnkCur_CIMSBuild %}
            {% assign lnkList = site.lnkList_CIMSBuild %}
            {% assign lnkOld = site.lnkOld_CIMSBuild %}
            {% assign lnkAll = site.lnkAll_CIMSBuild %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#devenv"><img src="/etc/badges/Devenv.svg" alt="Devenv" /></a></div>
          </td>
          <td>Support of the Visual Studio Command-Line (devenv.exe/com).</td>
          <td>
            {% assign lnkCur = site.lnkCur_Devenv %}
            {% assign lnkList = site.lnkList_Devenv %}
            {% assign lnkOld = site.lnkOld_Devenv %}
            {% assign lnkAll = site.lnkAll_Devenv %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#api"><img src="/etc/badges/API.svg" alt="API" /></a></div>
          </td>
          <td>The bridge for work with API level of main library.</td>
          <td>
            {% assign lnkCur = site.lnkCur_API %}
            {% assign lnkList = site.lnkList_API %}
            {% assign lnkOld = site.lnkOld_API %}
            {% assign lnkAll = site.lnkAll_API %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="/Changelist/#provider"><img src="/etc/badges/Provider.svg" alt="Provider" /></a></div>
          </td>
          <td>The loader and helper for a quick work with main library.</td>
          <td>
            {% assign lnkCur = site.lnkCur_Provider %}
            {% assign lnkList = site.lnkList_Provider %}
            {% assign lnkOld = site.lnkOld_Provider %}
            {% assign lnkAll = site.lnkAll_Provider %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="https://www.nuget.org/packages/vsSBE.CI.MSBuild/" target="_blank"><img src="https://img.shields.io/nuget/v/vsSBE.CI.MSBuild.svg" alt="NuGet Package" /></a></div>
          </td>
          <td>The official package of libraries to support the CI /Build Servers.</td>
          <td>
            {% assign lnkCur = site.lnkCur_CIMNuGet %}
            {% assign lnkList = site.lnkList_CIMNuGet %}
            {% assign lnkOld = site.lnkOld_CIMNuGet %}
            {% assign lnkAll = [] %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <div><a href="http://vssbe.r-eg.net/doc/CI/get.CIM.bat" target="_blank">get.CIM.bat</a></div>
          </td>
          <td>~10 Kb. To get CI.MSBuild in one click (Compiled by <a href="https://github.com/3F/GetNuTool" target="_blank">GetNuTool</a>).</td>
          <td>
            {% assign lnkCur = site.lnkCur_getCIM %}
            {% assign lnkList = [] %}
            {% assign lnkOld = [] %}
            {% assign lnkAll = [] %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{site.lnkSrcClientDemo[1]}}" target="_blank">ClientDemo</a>
          </td>
          <td>Compiled ClientDemo project. As <b>Demo</b> of the <b>client.vssbe.dll</b> features. For work with events from our core library. <a href="{{site.docp}}/API/#create-client-vssbe-dll">How to use.</a></td>
          <td>
            {% assign lnkCur = site.lnkCur_ClientDemo %}
            {% assign lnkList = site.lnkList_ClientDemo %}
            {% assign lnkOld = site.lnkOld_ClientDemo %}
            {% assign lnkAll = site.lnkAll_ClientDemo %}
            {% include pat/vdownload.html %}
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="panel panel-default small">
              <div class="panel-heading small">
                <h3 class="panel-title small">Mirrors</h3>
              </div>
              <div class="panel-body small">
                In the last time we are seeing a lot of errors with SourceForge.net <i>(<a href="https://twitter.com/sfnet_ops" target="_blank">such as</a>)</i><br />
                As variant, you can try get all binaries from available mirrors, for example:
                
                <table class="table table-striped table-hover ">
                  <tbody>
                    <tr>
                      <td>Unofficial</td>
                      <td>osdn.jp</td>
                      <td><b>All binaries.</b> Automatic collector from sf.net</td>
                      <td><a href="http://osdn.jp/projects/sfnet_vssbe/releases/" target="_blank">osdn.jp/projects/sfnet_vssbe/releases/</a></td>
                    </tr>
                    <tr>
                      <td>Official</td>
                      <td>github.com</td>
                      <td>{{ "**Only** latest binaries and only as a single archive with all available components ~`release_v...`" | markdownify}}</td>
                      <td><a href="https://github.com/3F/vsSolutionBuildEvent/releases" target="_blank">github.com/3F/vsSolutionBuildEvent/releases</a></td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="Code" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#Code">Source Code</a></h3>
  </div>
  <div class="panel-body">
    <p>
      Use pull request in any services below for your awesome improvements and patches.  
      Or send this directly as <strong>.patch</strong> file. 
      <i>For complex logic(as for our lexers, analyzers etc.) please also provide a correct new unit-tests.</i>
    </p>
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="24%">Repository on <img src="{{ site.baseurl }}/img/GitHub_Logo_57x23.png" width="57" height="23" border="0" /></td>
          <td width="70%">
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Clone with HTTPS:</label>
              <input class="form-control" id="inputSuccess" type="text" value="git clone https://github.com/3F/vsSolutionBuildEvent.git" />
            </div>
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Clone with SSH:</label>
              <input class="form-control" id="inputSuccess" type="text" value="git clone git@github.com:3F/vsSolutionBuildEvent.git" />
            </div>            
          </td>
          <td>
            <div class="panel panel-success small">
              <div class="panel-heading">
                <h3 class="panel-title">Fork me on GitHub</h3>
              </div>
              <div class="panel-body small">
                <div class="list-group">
                  <a href="https://github.com/3F/vsSolutionBuildEvent/" target="_blank" class="list-group-item">vsSolutionBuildEvent/</a>
                  <a href="https://github.com/3F/vsSolutionBuildEvent/fork" target="_blank" class="list-group-item">vsSolutionBuildEvent/fork</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Repository on <img src="{{ site.baseurl }}/img/logoBitBucketPNG_97x28.png" width="97" height="28" border="0" /></td>
          <td>
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Clone with HTTPS:</label>
              <input class="form-control" id="inputSuccess" type="text" value="git clone https://bitbucket.org/3F/vssolutionbuildevent.git" />
            </div>
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Clone with SSH:</label>
              <input class="form-control" id="inputSuccess" type="text" value="git clone git@bitbucket.org:3F/vssolutionbuildevent.git" />
            </div>            
          </td>
          <td>
            <div class="panel panel-success small">
              <div class="panel-heading">
                <h3 class="panel-title">Fork me on Bitbucket</h3>
              </div>
              <div class="panel-body small">
                <div class="list-group">
                  <a href="https://bitbucket.org/3F/vssolutionbuildevent/overview" target="_blank" class="list-group-item">vssolutionbuildevent/</a>
                  <a href="https://bitbucket.org/3F/vssolutionbuildevent/fork" target="_blank" class="list-group-item">vssolutionbuildevent/fork</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://bitbucket.org/3F/vssolutionbuildevent/commits/all" target="_blank">Commits log</a>
          </td>
          <td colspan="2">
            <ul>
              <li><img src="https://ci.appveyor.com/api/projects/status/l38xn0j2c5an28e1/branch/master?svg=true&passingText=master:%20%20passing&failingText=master:%20%20failing&pendingText=master:%20%20pending" title="master branch" /></li>
              <li><img src="https://ci.appveyor.com/api/projects/status/l38xn0j2c5an28e1/branch/develop?svg=true&passingText=develop:%20passing&failingText=develop:%20failing&pendingText=develop:%20pending" title="develop branch" /></li>
              <li><img src="https://ci.appveyor.com/api/projects/status/l38xn0j2c5an28e1/branch/hotfixes?svg=true&passingText=hotfixes:%20passing&failingText=hotfixes:%20failing&pendingText=hotfixes:%20pending" title="hotfixes branch" /></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="NightlyBuilds" class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#NightlyBuilds">Nightly builds</a></h3>
  </div>
  <div class="panel-body">
    
    <span class="label label-danger">Please note!</span>
    <p class="small"> All binaries below can be unstable or not work at all. Use this for tests of latest changes: fixes, new features, etc.</p>
    
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="15%">hotfixes</td>
          <td>Latest binaries from <a href="https://bitbucket.org/3F/vssolutionbuildevent/commits/branch/hotfixes" target="branch">hotfixes branch</a>.</td>
          <td width="50%"><a href="https://ci.appveyor.com/project/3Fs/vssolutionbuildevent/branch/hotfixes/artifacts" target="_blank" class="btn btn-default">Test</a></td>
        </tr>
        <tr>
          <td>master</td>
          <td>Latest binaries from <a href="https://bitbucket.org/3F/vssolutionbuildevent/commits/branch/master" target="branch">master branch</a>.</td>
          <td><a href="https://ci.appveyor.com/project/3Fs/vssolutionbuildevent/branch/master/artifacts" target="_blank" class="btn btn-default">Test</a></td>
        </tr>
        <tr>
          <td>develop</td>
          <td>Latest binaries from <a href="https://bitbucket.org/3F/vssolutionbuildevent/commits/branch/develop" target="branch">develop branch</a>.</td>
          <td><a href="https://ci.appveyor.com/project/3Fs/vssolutionbuildevent/branch/develop/artifacts" target="_blank" class="btn btn-default">Test</a></td>
        </tr>
        <tr>
          <td>~</td>
          <td><a href="https://ci.appveyor.com/project/3Fs/vssolutionbuildevent/history" target="branch">All branch-binaries</a></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>

<div id="Snapshots" class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#Snapshots">Snapshots</a></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="30%">The archive of public releases</td>
          <td colspan="3"><a href="{{site.lnkBackupSrc[1]}}" target="_blank" class="btn btn-default">Open</a></td>
        </tr>
        <tr>
          <td>releases branch</td>
          <td width="5%"><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/releases.tar.gz" target="snapshot" class="btn btn-primary">tar.gz</a></td>
          <td width="5%"><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/releases.tar.bz2" target="snapshot" class="btn btn-info">tar.bz2</a></td>
          <td width="60%"><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/releases.zip" target="snapshot" class="btn btn-warning">zip</a></td>
        </tr>
        <tr>
          <td>master branch</td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/master.tar.gz" target="snapshot" class="btn btn-primary">tar.gz</a></td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/master.tar.bz2" target="snapshot" class="btn btn-info">tar.bz2</a></td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/master.zip" target="snapshot" class="btn btn-warning">zip</a></td>
        </tr>
        <tr>
          <td>hotfixes branch</td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/hotfixes.tar.gz" target="snapshot" class="btn btn-primary">tar.gz</a></td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/hotfixes.tar.bz2" target="snapshot" class="btn btn-info">tar.bz2</a></td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/hotfixes.zip" target="snapshot" class="btn btn-warning">zip</a></td>
        </tr>
        <tr>
          <td>develop branch</td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/develop.tar.gz" target="snapshot" class="btn btn-primary">tar.gz</a></td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/develop.tar.bz2" target="snapshot" class="btn btn-info">tar.bz2</a></td>
          <td><a href="https://bitbucket.org/3F/vssolutionbuildevent/get/develop.zip" target="snapshot" class="btn btn-warning">zip</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="Build" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#Build">Build</a></h3>
  </div>
  <div class="panel-body">
    <p>Information of how to build and all requirements for this you should see on <strong><a href="{{site.docp}}/Dev/How to build/">this page</a></strong>.</p>
    <p>The <strong>archive</strong> of dependencies:</p>
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td width="25%">Minimal libraries</td>
          <td><a href="{{site.lnkBackupLib[1]}}" target="_blank" class="btn btn-default">Download</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

