<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{metaDescr}}">
  <meta name="keywords" content="VisualStudio,MSBuild,vsSolutionBuildEvent,Build,Tools,automation,Scripts,DevOps,Events,CI,DevTools,Projects,AppVeyor,TeamCity,Continuous-Integration,logger,Build-automation,Compiler,AzureDevOps,Version,7z,7zip,post-build,scripting,zip,http,Productivity,sln,Files,ftp,Commands,NuGet,pre-build,Versioning,downloader,archiver,GetNuTool,vsSBE">

  <!-- twitter -->
  <meta name="twitter:title" content="{{page.title}} - {{site.title}}">
  <meta name="twitter:description" content="{{metaDescr}}">
  <meta name="twitter:image" content="{{ site.baseurl | prepend: site.url }}/img/logo.png">
  <!-- https://cards-dev.twitter.com/validator
       https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html
       https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image
  -->
  <meta name="twitter:card" content="summary"> <!-- summary_large_image -->
  <meta name="twitter:site" content="@GitHub3F">
  <meta name="twitter:creator" content="@GitHub3F">

  <!-- Open Graph protocol: ogp.me -->
  <meta property="og:title" content="{{page.title}} - {{site.title}}">
  <meta property="og:description" content="{{metaDescr}}">
  <meta property="og:image" content="{{ site.baseurl | prepend: site.url }}/img/logo.png">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ "/css/bootstrap_paper_v3.3.5_mod.css" | prepend: site.baseurl }}">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/lightbox.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  <!-- necessary for Bootstrap's JavaScript plugins: -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/anchor.min.js"></script>
</head>