<header class="navbar navbar-default">
  
  <div class="wrapper">
    
     <a class="navbar-link" href="{{ site.baseurl }}/">
       <img style="float: left;" src="{{ site.baseurl }}/img/logo.png" width="64" height="64" border="0" />
     </a>
    <span class="navbar-brand" title="{{ site.subtitle }}">{{ site.title }}</span>
    
    <nav class="site-nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">+ <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/{{ site.docp }}/New/">Create new page</a></li>
            <li><a href="https://bitbucket.org/3F/vssolutionbuildevent/issues/new" target="_blank">Create issue</a></li>
            <li class="divider"></li>
            <li><a href="https://bitbucket.org/3F/vssolutionbuildevent/issues" target="_blank">Issue list</a></li>
            <li><a href="{{ site.baseurl }}/Changelist/">Log</a></li>
            <li class="divider"></li>
            <li><a href="http://visualstudiogallery.msdn.microsoft.com/0d1dbfd7-ed8a-40af-ae39-281bfeca2334/" target="_blank">VS Gallery Page</a></li>
            <li><a href="{{ site.baseurl }}/doc/Examples/">Examples</a></li>
            <li><a href="{{ site.baseurl }}/Docmap/">Docmap</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/License/">License</a></li>
          </ul>
        </li>
        <li><a class="page-link" href="{{ site.baseurl }}/Downloads/"><strong>Downloads</strong></a></li>
        <li><a class="page-link" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=P2HRG52AJSA9N&lc=US&item_name=vsSolutionBuildEvent%20%28vsSBE%29%20projects&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">Donate</a></li>
        <li><a class="page-link" href="{{ site.baseurl }}/About/">About</a></li>
      </ul>
    </nav>

  </div>

</header>
