---
layout: default
title: Docmap
---

<div class="home">
  
  <div class="list-group">
    {% for post in site.doc %}
      {% if post.hideDocmap or post.layout == "redirect" %}
        {% continue %}
      {% endif %}
      <a href="{{post.url}}" class="list-group-item">
        <h5 class="list-group-item-heading">{{post.title}}</h5>
        <!-- post.content | escape -->
        <p class="list-group-item-text small">{{ post.content | strip_html | slice: 0, 700  }} ...</p>
      </a>      
    {% endfor %}
  </div>
    
</div>
