---
layout: doc
title: Screenshots
---

<div style="text-align: center;">
  {% assign img = "vsSolutionBuildEvent.CIM.GUI.png" %}{% assign attr = "width='660' height='442'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/main_v0.12.png" %}{% assign attr = "width='380' height='260'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/vs_item_menu.png" %}{% assign attr = "width='370' height='207'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/UI-State_panel.png" %}{% assign attr = "width='746' height='190'" %}{% include elem/lightbox %}
  {% assign img = "examples/stop_build.png" %}{% assign attr = "width='783' height='160'" %}{% include elem/lightbox %}
  {% assign img = "examples/wizard/version/type.png" %}{% assign attr = "width='373' height='212'" %}{% include elem/lightbox %}
  {% assign img = "examples/wizard/version/final.png" %}{% assign attr = "width='373' height='212'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/0.3_env_variables.png" %}{% assign attr = "width='369' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/csharp_FilesMode_flag.png" %}{% assign attr = "width='240' height='179'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/msbuild_prop_code_completion.png" %}{% assign attr = "width='464' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/CommandEvent.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/CSharpMode_ftpex.png" %}{% assign attr = "width='562' height='386'" %}{% include elem/lightbox %}
  {% assign img = "Demo/DemoClient.png" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "CI.MSBuild_example_console.png" %}{% assign attr = "width='546' height='236'" %}{% include elem/lightbox %}
  {% assign img = "Devenv_example.png" %}{% assign attr = "width='460' height='267'" %}{% include elem/lightbox %}
  {% assign img = "dlg/confirmation.png" %}{% assign attr = "width='255' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/VersionClass.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "ci_example_appveyor.png" %}{% assign attr = "width='449' height='274'" %}{% include elem/lightbox %}
  {% assign img = "examples/obsolete/vbs_ext.jpg" %}{% assign attr = "width='252' height='163'" %}{% include elem/lightbox %}
  {% assign img = "CI.MSBuild_example_TC.png" %}{% assign attr = "width='466' height='258'" %}{% include elem/lightbox %}
  {% assign img = "scheme.png" %}{% assign attr = "width='433' height='178'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/Automatic_Version_Numbering.png" %}{% assign attr = "width='514' height='331'" %}{% include elem/lightbox %}
</div>