---
layout: doc
---

<div style="text-align: center;">
  {% assign img = "Screenshots/main_v0.12.png" %}{% assign attr = "width='380' height='260'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/vs_item_menu.png" %}{% assign attr = "width='370' height='207'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/UI-State_panel.png" %}{% assign attr = "width='746' height='190'" %}{% include elem/lightbox %}
  {% assign img = "examples/stop_build.png" %}{% assign attr = "width='783' height='160'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/0.3_env_variables.png" %}{% assign attr = "width='369' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/csharp_FilesMode_flag.png" %}{% assign attr = "width='240' height='179'" %}{% include elem/lightbox %}
  {% assign img = "examples/CommandEvent.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "CI.MSBuild_example_console.png" %}{% assign attr = "width='546' height='236'" %}{% include elem/lightbox %}
  {% assign img = "Devenv_example.png" %}{% assign attr = "width='460' height='267'" %}{% include elem/lightbox %}
  {% assign img = "dlg/confirmation.png" %}{% assign attr = "width='255' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/VersionClass.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "ci_example_appveyor.png" %}{% assign attr = "width='435' height='367'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/screen_projects_vbs.png" %}{% assign attr = "width='252' height='163'" %}{% include elem/lightbox %}
  {% assign img = "CI.MSBuild_example_TC.png" %}{% assign attr = "width='466' height='258'" %}{% include elem/lightbox %}
</div>