<!DOCTYPE html>
<html>

  {% assign pTitleUrlEsc =  page.title | url_encode %}
  {% assign sTitleUrlEsc =  site.title | url_encode %}
  {% assign pageUrlFull = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

  {% assign pTitleShareUrlEsc = pTitleUrlEsc | append: ' - ' | append: sTitleUrlEsc | url_encode %}

  {% assign pTitleXmlEsc = page.title | xml_escape %}

  {% assign metaDescr = page.content | markdownify | replace:'</p>','. ' | replace:'</h1>','.' | replace:'</h2>','.' | replace:'</h3>','.' | replace:'</h4>','.' | strip_html | strip_newlines | slice: 0, 420 | append: '…' %}

  {% include head.html %}

  <body>
    {% include header.html %}
    
    <!-- nav line -->
    {% assign _page = page.url | remove: "index.html" | split: "/" %}
    {% if _page.size > 2 %}
    
      <div class="wrapper small">
        <ul class="breadcrumb small">
          <li>
            <span class="glyphicon glyphicon-home nav-gicon" aria-hidden="true"></span>
            <a href="/">Home</a>
          </li>
          
          {% assign url = site.docp %}
          {% for p in _page offset: 2 %}
            {% if forloop.last %}
              <li class="active">{{p}}</li>
              {% break %}
            {% endif %}
            <li><a href="{{url}}/{{p}}/">{{p}}</a></li>
          {% endfor %}
        </ul>
      </div>
    
    {% else %}
    
      {% if _page.size != 0 %}
        <div class="wrapper small">
          <ul class="breadcrumb small">
            <li>
              <span class="glyphicon glyphicon-home nav-gicon" aria-hidden="true"></span>
              <a href="/">Home</a>
            </li>
            <li class="active">{{_page[1] | remove: '.html'}}</li>
          </ul>
        </div>
      {% endif %}
    
    {% endif %}
    <!-- /nav line -->
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    
    <div class="wrapper">
      {% include share.html %}
      {% if page.layout == "doc" %}
        {% include disqus.html %}
      {% endif %}
    </div>
    {% include footer.html %}
  </body>

</html>