---
layout: default
---
<div class="post">

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div style="float: right;">
  
  {% if page.path contains "/index.html" %}
    {% assign path = page.path %}
  {% else %}
    {% assign docPath = {{page.path}} | split: '/_doc/' %}
    {% assign path = "_doc/" | append: docPath[1] %}
  {% endif %}
  
  <a href="https://github.com/3F/web.vsSBE/edit/gh-pages/{{path}}" class="btn btn-primary btn-xs" title="Edit this page">Edit</a>
  <a href="{{site.docp}}/New/" class="btn btn-default btn-xs" title="Create new page">New</a>
</div>

<br /><br />